@mixin dropdown($background, $text, $active, $text-hover, $important, $font) {
    background-color: $background !important;
    cursor: pointer;
    min-width: 250px !important;
    font-family: $font !important;

    & .dropdown-item {
        color: $text;
        padding: 1rem;
        font-family: $font !important;

        &:hover {
            background-color: $text-hover;
            color: $text;
        }
    }

    &.first-line {
        & li:first-child {
            & .dropdown-item {
                background-color: $active;

                &:hover {
                    background-color: $important;
                    color: $background;
                }
            }
        }
    }
}
