@mixin progettoContainer($background, $text, $text-hover, $primary, $active, $important, $alternate) {
    width: 100%;
    height: calc(95% - 71px);
    padding-inline: 2rem;
    display: flex;
    flex-direction: column;
    overflow: hidden;

    & .project-deadline {
        background-color: $primary;
        color: $text;
        display: flex;
        padding: 0.8rem;
        align-items: center;
        gap: 1rem;
        font-size: 0.9rem;

        & .info,
        & .countdown {
            display: flex;
            align-items: center;
            gap: 1rem;
        }

        & .info {
            flex-grow: 1;
        }

        & .date {
            color: $text;
        }

        & .countdown span {
            font-weight: 500;
            color: $text;
        }

        & .expired {
            color: $text;
            font-weight: bold;
        }
    }

    & .macrobox {
        position: relative;
        width: 100%;
        color: $text;
        overflow: auto;

        & .macrocontainer {
            cursor: grab;
            background-color: $text-hover;
            color: $text;


            & h2 {
                margin: 0;
                font-weight: 800;
                font-size: 1.2rem;
                text-transform: uppercase;
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 0.5rem;
            }

            & .macro-table {
                width: 100%;
                border-collapse: separate;
                border-spacing: 0;
                overflow: hidden;
                cursor: default;

                & thead {
                    & tr {
                        background-color: $background;
                        border-radius: 15px;

                        & th {
                            padding: 0.5rem;
                            font-weight: 600;
                        }
                    }
                }

                & tbody {
                    & tr {
                        background-color: rgba($background, 0.6);

                        &:nth-child(even) {
                            background-color: rgba($background, 0.4);
                        }

                        & td {
                            padding: 1rem;

                            &.intestazione {
                                text-align: start;
                            }
                        }

                        & .tdev {
                            display: flex;
                            justify-content: end;
                        }
                    }
                }

                & tr,
                & th {
                    color: $text;
                    text-transform: capitalize;
                    text-align: right;
                }

                & th,
                & td {
                    &:nth-child(1) {
                        width: 1%;
                    }

                    &:nth-child(2) {
                        width: 20%;
                    }

                    &:nth-child(3) {
                        width: 15%;
                        text-align: center;
                    }

                    &:nth-child(4) {
                        width: 15%;
                        text-align: center;
                    }

                    &:nth-child(5) {
                        width: 100%;
                    }
                }

                & .dev-table {
                    width: 100%;
                    border-collapse: separate;
                    border-spacing: 0;
                    border-radius: 15px;
                    overflow: hidden;
                    font-size: 0.8rem;
                    table-layout: fixed;

                    & thead {
                        & tr {
                            background-color: $primary;
                            border-radius: 15px;

                            & th {
                                padding: 0.5rem;
                                font-weight: 600;
                            }
                        }
                    }

                    & tbody {
                        & tr {
                            background-color: $alternate;

                            &:nth-child(even) {
                                background-color: rgba($alternate, 0.6);
                            }

                            & td {
                                padding: 1rem;

                                &:first-child {
                                    font-size: 1rem;
                                }
                            }

                            &:hover {
                                background-color: $background !important;
                            }
                        }
                    }

                    & tr,
                    & th {
                        color: $text;
                        text-transform: capitalize;
                        text-align: center;
                    }

                    & thead th:nth-child(2),
                    & tbody td:nth-child(2) {
                        width: 90px;
                    }

                    & thead th:nth-child(3),
                    & tbody td:nth-child(3) {
                        width: 160px;
                    }

                    & thead th:nth-child(4),
                    & tbody td:nth-child(4) {
                        width: 72px;
                    }

                    & thead th:first-child,
                    & tbody td:first-child {
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                    }

                    & th,
                    & td {
                        width: inherit;
                    }
                }
            }


            &:nth-child(even) {
                background-color: $alternate;
                color: $background;
            }

            &:active {
                cursor: grabbing;
            }
        }
    }
}

@mixin index($background, $text, $text-hover, $active, $border:0, $height) {
    height: $height;
    padding-left: 2rem;
    overflow: auto;
    border-top: $border solid $text-hover;
    display: flex;
    align-items: center;

    & button {
        border: none;
        border-right: 1px solid $text-hover;
        padding-inline: 0.8rem;
        font-size: 0.9rem;
        background-color: transparent;
        color: $text;

        &:hover {
            background-color: $text-hover;
        }


        &.active {
            background-color: $active;
            font-weight: bold;
            color: $background;
            border-right: none;
        }
    }
}
