.progettocontainer {
    width: 100%;
    position: relative;
    overflow: auto;
    height: 95%;
    flex-direction: column;
    color: $vs-text;
    padding: 2rem;

    & .project-deadline {
        background-color: $vs-primary;
        color: $vs-text;
        padding: 1rem;
        border-radius: 15px 15px 0 0;
        display: flex;
        gap: 1rem;

        & .info,
        & .countdown {
            display: flex;
            gap: 1rem;
        }

        & .info {
            flex-grow: 1;
        }

        & .date {
            color: $vs-active;
        }

        & .countdown span {
            font-weight: 500;
            color: $vs-important;
        }

        & .expired {
            color: $danger;
            font-weight: bold;
        }
    }


    & .macrocontainer {
        cursor: pointer;
        padding: 1rem;
        background-color: $vs-text-hover;
        color: $vs-text;


        & h2 {
            margin: 0;
            font-weight: 800;
            font-size: 1.5rem;
            text-transform: uppercase;
        }

        & .macro-table {
            margin-top: 1rem;
            width: 100%;
            border-collapse: separate;
            border-spacing: 0;
            border-radius: 15px;
            overflow: hidden;

            & thead {
                & tr {
                    background-color: $vs-background;
                    border-radius: 15px;

                    & th {
                        padding: 0.5rem;
                        font-weight: 600;
                    }
                }
            }

            & tbody {
                & tr {
                    background-color: rgba($vs-background, 0.4);


                    & td {
                        padding: 1rem;

                        &:first-child {
                            font-size: 1.2rem;
                        }
                    }
                }
            }

            & tr,
            & th {
                color: $vs-text;
                text-transform: capitalize;
                text-align: center;
            }

            & .dev-table {
                width: 100%;
                border-collapse: separate;
                border-spacing: 0;
                border-radius: 15px;
                overflow: hidden;
                font-size: 0.8rem;

                & thead {
                    & tr {
                        background-color: $vs-primary;
                        border-radius: 15px;

                        & th {
                            padding: 0.5rem;
                            font-weight: 600;
                        }
                    }
                }

                & tbody {
                    & tr {
                        background-color: $vs-alternate;


                        & td {
                            padding: 1rem;

                            &:first-child {
                                font-size: 1rem;
                            }
                        }
                    }
                }

                & tr,
                & th {
                    color: $vs-text;
                    text-transform: capitalize;
                    text-align: center;
                }
            }
        }

        &:nth-child(even) {
            background-color: $vs-alternate;
            color: $vs-background;
        }

        &:hover {
            background-color: $vs-active;
            color: $vs-background;
        }
    }
}

.index {
    height: 5%;
    padding-left: 2rem;
    overflow: auto;

    & button {
        border: none;
        border-right: 1px solid $vs-text-hover;
        padding-inline: 0.8rem;
        font-size: 0.9rem;
        background-color: transparent;
        color: $vs-text;

        &:hover {
            background-color: $vs-text-hover;
        }


        &.active {
            background-color: $vs-active;
            font-weight: bold;
            color: $vs-background;
            border-right: none;
        }
    }
}
