$custom-shadow: 2px 2px 5px rgba(100, 100, 100, 0.3);

// Tema visual studio
$vs-font: 'Consolas', sans-serif;
$vs-primary: #68217A;
$vs-background: #303030;
$vs-text: #F5F5F0;
$vs-text-hover: #7F7F7F;
$vs-active: #E37933;
$vs-alternate: #269BA1;
$vs-important: #A9DCFF;

// Merge nel theme-colors dei nuovi colori
$theme-colors: map-merge( $theme-colors, ( 
    "vs-primary": $vs-primary, 
    "vs-background": $vs-background,
    "vs-text": $vs-text,
    "vs-text-hover": $vs-text-hover,
    "vs-active": $vs-active,
    "vs-alternate": $vs-alternate,
    "vs-important": $vs-important,
) );