<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<packageSources>
		<add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
		<add key="DevExpress Feed" value="https://nuget.devexpress.com/VUElna1uv9Kudf1Wg5AWDxHiPwXW9r9S7SvWwUVOXVBHieiWZA/api/v3/index.json" />
	</packageSources>
</configuration>
