@page "/home"
@inherits SdkBase

<Loading Toggle="@IsLoading" />
@if(Progetti is not null && Progetti.Any())
{
    <Progetti List="@Progetti" />
}
else
{
    <div class="newproject">
    <Button Text="Start" CssClass="new-project-btn" OnClick="() => _nuovoProgetto.Start()" />
    </div>
}
<NuovoProgetto @ref="_nuovoProgetto" Update="GetRecords"/>
