@inherits LayoutComponentBase

<CascadingValue Name="Theme" Value="@Theme">
    <CascadingValue Name="OnInit" Value="@OnInit">
        <main class="@Theme">
            <NavBar />
            @Body
        </main>
    </CascadingValue>
</CascadingValue>


