@inherits SdkBase

<nav class="@($"{Theme}")">
    <NavBarImage />
    <div class="navelements">
        <DropDown DropDownItems="@DropDownUsers" FirstLineColor="true" Text="Developers" CssClass="max" />
        <Button Color="@($"{Theme}-active")" Text="Temi" CssClass="max" />
    </div>
</nav>