@inherits SdkBase

<nav class="@($"{Theme}")">
    <NavBarImage />
    <div class="navelements">
        <Button Color="@($"{Theme}-active")" Text="Nuovo progetto" OnClick="NuovoProgetto" CssClass="max"/>
        <DropDown DropDownItems="@DropDownUsers" FirstLineColor="true" Text="Developers" CssClass="max" />
        <Button Color="@($"{Theme}-active")" Text="Temi" CssClass="max" />
    </div>
</nav>
<NuovoProgetto @ref="_nuovoProgetto" />