@inherits SdkBase

<nav class="@($"{Theme}")">
    <NavBarImage />
    <div class="navelements">
        <Button Color="@($"{Theme}-active")" Text="Nuovo progetto" />
        <DropDown DropDownItems="@DropDownUsers" FirstLineColor="true" Text="Developers" />
        <Button Color="@($"{Theme}-active")" Text="Temi" />
    </div>
</nav>