@inherits LayoutBase

<nav class="@($"{Theme}")">
    <NavBarImage />
    <div class="navelements">
        <DevMenu />
        <Button Color="@($"{Theme}-active")" Text="Temi" CssClass="max" />
    </div>
</nav>