@import "../lib/bootstrap/scss/functions";

//breakpoint
$mobile: "max-width: 575px";
$tablet: "min-width: 576px and max-width: 991px";
$desktop: "min-width: 992px and max-width: 1919px";
$maxi: "min-width: 1920px";


@mixin screen($media) {
    @media only screen and ($media) {
        @content
    }
}



// Breakpoints riscritti
$grid-breakpoints: ( xs: 0, sm: 576px, md: 768px, lg: 992px, xl: 1200px, xxl: 1920px);



// Override breakpoints
//$grid-breakpoints: map-merge( ( xxl: 1920px), $grid-breakpoints );

//@import "../lib/bootstrap/themes/slate/_variables";
@import "../lib/bootstrap/themes/Litera/_variables";
@import "../lib/bootstrap/scss/_variables.scss";





// qui importo i miei partials
@import "../css/partials/_themes.scss";
@import "../css/partials/_layout.scss";
@import "../css/partials/_errors.scss";
@import "../css/partials/_loading.scss";
@import "../css/partials/_scrollbar.scss";
@import "../css/partials/_progetto.scss";
@import "../css/partials/_navbar.scss";
@import "../css/partials/_buttons.scss";
@import "../css/partials/_popup.scss";
@import "../css/partials/_form.scss";
@import "../css/partials/_dropdown.scss";
@import "../css/partials/_global.scss";
@import "../css/partials/_mixins.scss";


@import "../lib/bootstrap/scss/mixins";
@import "../lib/bootstrap/scss/bootstrap";
// @import "../lib/bootstrap/themes/slate/_bootswatch";
@import "../lib/bootstrap/themes/Litera/_bootswatch";


